<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs.vtunotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ocr" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VTUNotes">
        <activity android:name=".physics_chemistry.semesters"></activity>
        <activity android:name=".modules.module_five" />
        <activity android:name=".modules.module_four" />
        <activity android:name=".modules.module_three" />
        <activity android:name=".modules.post_notes.post_new_title" />
        <activity android:name=".modules.module_two" />
        <activity android:name=".modules.module_one" />
        <activity android:name=".module_parent" />
        <activity android:name=".webactivity" />
        <activity android:name=".civil.civil2015page" />
        <activity android:name=".civil.civil" />
        <activity android:name=".physics_chemistry.subjects1" />
        <activity android:name=".physics_chemistry.scheme" />
        <activity android:name=".blog_post" />
        <activity android:name=".reward" />
        <activity android:name=".resultpage" />
        <activity android:name=".reddemcode" />
        <activity android:name=".inviteactivity" />
        <activity android:name=".editprofileactivity" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".terms_and_privacy" />
        <activity
            android:name=".login"
            android:noHistory="true" />
        <activity android:name=".terms_and_conditions" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>